.quienes__somos{
    display: grid;
    grid-template-areas: 
        "titulo           img"  
        "texto__contenido img"      
        "texto__contenido boton__contacto"
        ;
    background-color: #E69600 ;
   
                    }
.titulo{
    grid-area: titulo;
    padding:10px;
    align-self: center;
    margin-top: 25px;


}
.titulo h2{
    font-family: 'Josefin Slab', serif;
    text-align: center;
    text-decoration: underline;
    color: #AA1E1E;
    font-size: 50px;
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 15px;
}
.texto__contenido {
    grid-area: texto__contenido;
    align-self: center;
}
.texto__contenido p {

    font-family: 'Pacifico', cursive;
    font-size: 30px;
    text-align: center;
    margin: 15px;
}
.img__relleno{
    grid-area: img;
    justify-self: center;
    transition: 1s;

}
.img__relleno:hover{
  transform: perspective(150px) rotateY(15deg);
}
.boton__contacto{

    font-family: 'Special Elite', cursive;
    color: white;
    grid-area: boton__contacto ;
    margin: 20px;
    justify-self: center;

}
.boton__contacto a{
    
    font-family: 'Special Elite', cursive;
    color: white;
    background-color: black;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
}

.marketing{
    display: grid;
    grid-template-areas: 
        "img       titulo"  
        "img       texto__contenido"      
        "boton__contacto    texto__contenido "
        ;
    background-color: #FF5000 ;

}