main{
    background-color: #E69600;
}

.container{
    padding: 15px;
    margin: 20px;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
  
}
.encabezado__servicio h2{
    font-family: 'Josefin Slab', serif;
    font-size:50px ;
    text-align: center;
    text-decoration: underline;
    font-weight: 900px;
    margin: 20px;
    color: #AA1e1e;
}
.encabezado__servicio p{
    font-family: 'Josefin Slab', serif;
    font-size:30px ;
    text-align: center;
    font-weight: 900px;
    margin: 20px;
}
.container li{
    list-style: none;
}

.titulo{
        margin: 15px;
        padding:10px;
        font-family: 'Josefin Slab', serif;
        font-weight: 800;
        font-size: x-large;
        text-align: center;
        background-color: #AA1e1e;
}
.boton{
    margin:10px;
    padding:15px;
    background-color: black;
    font-family: 'Special Elite', cursive;
    color:white;
    text-align: center;
    border-radius: 20px;
}
.boton:hover {
    box-shadow: inset 0 0 20px rgba(254, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.4);
    text-shadow: 2px 1px 6px #fff;

  }
  

