*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-areas: 
                        "header"
                        "main"
                        "footer";
}
.header{
    grid-area: header;
    grid-template-columns: 2fr 2fr;
    display: grid;
    font-family: 'Special Elite', cursive;
    color: white;
    text-align: center;
    background-color: black ;
    width: 100%;
    height: 90px;
}
.logo p{
    font-size: xx-large;
    font-weight: 900;
    padding: 25px;
}
.nav__Bar{
    justify-self: center;
}
.nav__Bar ul{
    display: flex;
    flex-direction: row;
}
.nav__Bar li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    
}
.nav__Bar a{
    color: white;
    text-decoration: none;
    margin: 15px;
    padding: 15px;
}
.nav__Bar a:hover {
    color: black;
    background-color: white;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    font-family: 'Special Elite', cursive;
    color: white;
}
.contact{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr ;
    margin-top: 15px;
}
.contact p{
    justify-content: end;

}
.contact i{
    justify-self: center;
}
.site__map p{
    margin: 15px;
}
.site__map li{
    list-style: none;
    margin:5px;
}
.site__map ul{
 margin:5px;

}
.site__map a {
    color:white;
    margin: 10px;
    padding: 10px;

}

/* Botón fijo */
.boton-subida{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom:10px;
    right: 1px;
    border-radius: 50% ;
}
.boton-subida img{
    width: 100px;
    height: 100px;
    position: fixed;
}

@media(max-width: 576px){
.logo p{
    font-size: x-large;
    font-weight: 100;
    padding: 5px;
}
.nav__Bar a{
    color: black;

}

.boton-subida{
    display: none;
}
.site__map {
    display: none;
   
   }
main{
    margin-top: 90px;
}

}