
$color_primario:#E69600;
$color_secundario:#FF5000;
$color_titulo:#AA1E1E;
$fuente-titulo:'Special Elite', cursive;

@import "header";
@import "footer";


main{
    background-color: $color_primario;
    h1{
        font-family:$fuente-titulo ;
        text-align: center;
        font-size: 3em;
        padding:10px;
    }

    .quienes__somos{
        background-color: $color_primario;
        display:flex;
        flex-direction: column;
        justify-content: center;
        .titulo{
            font-family: $fuente-principal;
            text-align: center;
            color:$color_titulo;
            text-decoration: underline;

        }
        .texto__contenido{
            align-self: center;
            p {

            font-family: $fuente-secundaria;
            font-size: 25px;
            text-align: center;
            margin: 15px;
             }
        }
        .img__relleno{
            margin: 10px auto;
           
        }
        .boton__contacto{

            display: block;
            color: white;
            margin: 0.6em auto 1em auto;
            a{
            
                font-family: $fuente-links;
                color: white;
                background-color: black;
                padding: 1em;
                border-radius: 5px;
                text-align: center;
            }
        }
    }
    .marketing{
        @extend .quienes__somos;
        background-color: $color_secundario;
  
    .boton__contacto{
        order:1;
    }
    }
    
}



@media screen and (min-width: 500px) {

main{
    .quienes__somos{
        display: grid;
        grid-template-areas: 
            "titulo           img"  
            "texto__contenido img"      
            "texto__contenido boton__contacto"
            ;
        background-color: #E69600 ;
    
                        }
    .titulo{
        grid-area: titulo;
        padding:10px;
        align-self: center;
        margin-top: 25px;
        h2{
            font-family: $fuente-principal;
            text-align: center;
            text-decoration: underline;
            color: #AA1E1E;
            font-size: 50px;
            font-weight: 900;
            margin-top: 15px;
            margin-bottom: 15px;
        }            
    }
    .texto__contenido {
        grid-area: texto__contenido;
        align-self: center;
        p {

            font-family: $fuente-secundaria;
            font-size: 30px;
            text-align: center;
            margin: 15px;
        }
    }
    .img__relleno{
        grid-area: img;
        justify-self: center;
        img{
            width: 500px;
            height: auto;
        }

    }
    .boton__contacto{

        color: white;
        grid-area: boton__contacto ;
        margin: 20px;
        justify-self: center;
        a{
        
            font-family: $fuente-links;
            color: white;
            background-color: black;
            margin: 15px;
            padding: 10px;
            border-radius: 5px;
        }
    }

    .marketing{
        display: grid;
        grid-template-areas: 
            "img       titulo"  
            "img       texto__contenido"      
            "boton__contacto    texto__contenido "
            ;
        background-color: #FF5000 ;

    }
}
}