@import "header";
@import "footer";

$fuente-principal:'Josefin Slab', serif;
$fuente-secundaria:'Pacifico', cursive;
$fuente-links:'Special Elite', cursive;



main{
    background-color: $color_primario;
    padding:2%;

    
    .encabezado__servicio{

        h2{
        font-family: $fuente-principal !important;
        font-size: 5em;
        text-align: center;
           }
        p{
        font-family: $fuente-secundaria;
        font-size: 2em;
        text-align: center;
        }
    }
    article{
        display: flex;
        gap:10px;


    }
  
    


}
@media screen and (max-width:425px) {

    main{
        font-size: 60%;
    }
  
    article{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
  
}