$fuente-principal:'Josefin Slab', serif;
$fuente-secundaria:'Pacifico', cursive;
$fuente-links:'Special Elite', cursive;

$color_primario:#E69600;
$color_secundario:#FF5000;
$color_titulo:#AA1E1E;

main{
    background-color: $color_primario;
    padding: 1%;
    .encabezado__servicio{
        h1{
            font-family: $fuente-principal;
            font-size: 2em;
            text-align: center;
            padding: 5px;
        }
        p{
            font-family: $fuente-secundaria;
            text-align: center;
        }
      
    }
    section{
        display: flex;
        flex-direction: column;
        h3{
            background-color:$color_titulo;
            text-align: center;
            font-family: $fuente-secundaria;
           }
    }

}
@each $servicio in beginner,semi-senior,senior {
    .#{$servicio}{
    background-color: white;
    margin-bottom: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
       li{
            list-style: none;
            font-size: 0.8em;
             }
        i{
            margin-right: 15px;
        }
        .boton{
            background-color: black;
            text-align: center;
            a{
            text-decoration: none;
            color: white;
            font-family: $fuente-links;
            }

        }
      
        
    }
}
@media screen and (min-width:760px){
  main{
      font-size: 2em;
        h1{
            font-size: 2.1em;
        }

    section{
        flex-direction: row;
        gap:15px;
        justify-content: center;

     }
  }
    
}